<!DOCTYPE html>
<html>
<head>
  <title>Appstore</title>
  <link rel="stylesheet" type="text/css" href="nodes_modules/react-notifications/dist/react-notifications.css">
  <link rel="stylesheet" href="https://unpkg.com/react-instantsearch-theme-algolia@4.0.0/style.min.css">
  <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
  
  <%= env_stylesheet_link_tag(static: 'application_static',
                              hot: 'application_non_webpack',
                              media: 'all',
                              'data-turbolinks-track' => true) %>

  <!-- These do not use turbolinks, so no data-turbolinks-track -->
  <!-- This is to load the hot assets. -->
  <%= env_javascript_include_tag(hot: ['http://localhost:3500/vendor-bundle.js',
                                       'http://localhost:3500/app-bundle.js']) %>

  <!-- These do use turbolinks -->
  <%= env_javascript_include_tag(static: 'application_static',
                                 hot: 'application_non_webpack',
                                 'data-turbolinks-track' => true) %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
